.a{
    color:aquamarine;
}
.b{
    color:red;
}
.c{
    color:blue;
    size: 30px;
}
.d{
    color:pink;
}
.e{
    color:orange;
    size: 2em;
}
.f{
    color:yellow;
    size: 3rem;
}
.h2_st{

    color: red;
}
.p_a{
    color: green;
    font-family: Arial;
}
.p_b{
    background-color: chartreuse;
    font-family: Verdana, Tahoma, sans-serif;
}
.p_c{
    color: pink;
    text-shadow: 2px 2px 4px #000000;
}
.p_d{
    color: orange;
    float: right;
}
.p_e{
    color: yellow;
}
.ex{
    color: white;
    background-color: green;
    text-align: center;
}
.cl{
    color: aqua;
}
#id{
    color: wheat;
    background-color: blue;
}
.div1{
    background-color: aqua;
}
.div2{
    background-color: pink;
    text-align:center;
}
.bl{
    color: blue;
}
.rd{
    color: red;
}
.odd{
    background-color: pink;
    width: 800px;
    font-size: 25px;

}
.oddd{
    background-color: pink;
    width: 800px;
    font-size: 25px;
}
.num2{
    color: blue;
    width: 800px;
    font-size: 35px;
}
.num4{
    background-color: greenyellow;
    width: 800px;
    font-size: 30px;

}
.jj{
    overflow: auto;
    float: left;
    background-color: aqua;
}
.sup_div{
    background-color: aqua;
    width: 800px;
    margin: 0 ;
}
.d1{
    background-color: yellow;
    width: 400px;
    margin: 10px ;
    padding: 25px;
    border: 2px solid rgb(21, 227, 17);

}
.d2{
    background-color: cornflowerblue;
    width: 500px;
    margin: 0 ;
    border: 2px solid rgb(50, 22, 208);

}

.main{
    width: 500px;
    size: 500px;
}
.d3{
    width: 500px;
    overflow: auto;
    float: right;
    background-color: orange;
    width: 250px;
    margin-right: 965px ;
    padding: 25px;
    border: 2px solid rgb(180, 85, 8);

}
#div_{
    width: 800px;
    align-content: center;
    background-color: white;
    margin: 20px;
    padding: 10px;
}
.div_1{
    width: 700px;
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
    background-color: aqua;
}
.bodyy{
    background-color: beige;
}
.div_12{
    width: 440px;
    padding: 10px;
    padding-left: 280px;
    margin: 20px;
    margin-top: 10px;
    background-color: aqua;
    align-content:center ;

}
#main_div{
    width: 1000px;
    height: 600px;
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
    background-color: aqua;
}
.dodge1{
    overflow: auto;
    float: right;
}
.pre_1{
 font-size: 17px;
 font-family: Arial, Helvetica, sans-serif;
}
.foot{
    overflow: auto;
    float: right;
}